.products{
    padding:20px;
    text-align:center;
}
.product-grid{
    display: flex;
    justify-content: center;
    gap:20px;
}
.product-card{
    border: 4px solid #8ba08c;
    width: 100%;
    height: auto;
    border-radius:10px;
}
button{
    color:rgb(0, 0, 0);
    background-color:rgb(137, 180, 102);
    border-radius:10px;
    padding: 10px 20px;
    margin-top: 10px;
}
h4{
    text-decoration:underline;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.product-card button:hover{
    background-color: gray;
}
.product-card img{
    width: 100px;
    height: auto;
}
body{
    background-color: black ;
    color:white;
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}